{% load wagtailcore_tags wagtailimages_tags %}

{% image self.hero_image fill-2400x658-c100 format-webp as webp_heroimage %}
{% image self.hero_image fill-2400x658-c100 as heroimage %}
<div class="hero-image card border-0">
    <figure>
        <picture>
            <source class="img-fluid card-img rounded-0" srcset="{{ webp_heroimage.url }}" type="image/webp">
            <img class="img-fluid card-img rounded-0" {{ heroimage.attrs }}>
        </picture>
        {% if self.hero_heading or self.hero_caption or self.hero_photo_credit %}
            <figcaption class="p-3">
                {% if self.hero_heading %}
                    <h2>{{ self.hero_heading }}</h2>
                {% endif %}
                {% if self.hero_message %}
                    <p class="d-none d-sm-block"><small>{{ self.hero_message }}</small></p>
                {% endif %}
            </figcaption>
            {% if self.hero_photo_credit %}
                <div class="photo-credit d-none d-sm-block p-1">
                    <small><b>Photo:</b> {{ self.hero_photo_credit }}</small>
                </div>
            {% endif %}
        {% endif %}
    </figure>
</div>