{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}

    <div class="container">
        {% for post in articles %}
            <div class="row mt-4">
                <div class="col-sm-3">
                    {% image post.article_image fill-250x250 as article_img %}
                    <a href="{{ post.url }}">
                        <img class="img-fluid" src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                    </a>
                </div>
                <div class="col-sm-9">
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                        <a href="{{ post.url }}" class="btn btn-sm btn-primary mt-1">Read More</a>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}