{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags author_tags %}

{% block content %}
    {% image page.hero_image fill-2400x658-c100 format-webp as webp_heroimage %}
    {% image self.article_image fill-2400x658-c100 jpegquality-60 as heroimage %}
    <div class="hero-image card border-0">
        <figure>
            <picture>
                <source class="img-fluid card-img rounded-0" srcset="{{ webp_heroimage.url }}" type="image/webp">
                <img class="img-fluid card-img rounded-0" {{ heroimage.attrs }}>
            </picture>
        </figure>
    </div>

    <div class="container my-3">
        <div class="text-center">
            <h1>{{ self.title }}</h1>
            <p>{{ self.date_published }}</p>

            {% if self.categories.all %}
                <p><span class="fw-bold">Categories:</span>
                    {% for cat in self.categories.all %}
                        <span class="badge bg-secondary">{{ cat.name }}</span>
                    {% endfor %}
                </p>
            {% endif %}

            <p><span class="fw-bold">Authors:</span>
                {% authors %}
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% for block in self.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- TAGS -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if tags %}
                    <hr style="margin-top: 0; margin-bottom: 10px; clear: both;">

                    <div class="small">
                        More articles tagged: 
                        {% for tag in tags %}
                            <i class="fas fa-tag swatch-red mx-1" aria-hidden="true"></i><a href="{{ page.get_parent.url }}tags/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}